body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 20px;
}

.sign {
  padding-top: 40px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.signup {
  border-radius: 20px;
}

.un {
  width: 90%;
  margin: 0 auto;
}

form.form1 {
  padding-top: 40px;
}

.pass {
  width: 90%;
  margin: 0 auto;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #7100B3, #925BB2);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  padding-top: 5px;
}

a {
  color: #CFAED4;
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
